<div class="form">
    <div class="form__container">
        <h1>Ingresar</h1>
        <form [formGroup]="form"  (ngSubmit)="logIn()">
            <div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="isEmailValid as message">{{message}} </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon> -->
                    <!-- </button> -->
                    <mat-error>Debe ingresar contraseña</mat-error>
                </mat-form-field>
            </div>
            <div style="padding-bottom: 20px;">
                <button mat-flat-button color="accent" type="button" (click)="rellenarDatos()">Llenar campos</button>
            </div>
            <div>
                <button mat-flat-button color="accent" type="submit">Ingresar</button>
            </div>
        </form>
        <hr>
        <span class="small-text log-in-redirect">
            ¿No tienes una cuenta? <a routerLink="/sign-up">Registrarse</a></span>
        <hr>
        <!-- <span class="small-text log-in-redirect">
            <a routerLink="/about-me">Sobre mí</a></span> -->
    </div>
</div>